
  <div class="row">
    <div class="col-4">
      <hr>
      <h5 class="text-dark">{{myDate |async|date|uppercase}}</h5>
      <app-mon-premier></app-mon-premier>
    </div>
    <div class="col-6">
      <ul class="list-group">
        <h2>Mes Appareils</h2>
        <app-appareil *ngFor="let appareil of appareils; let i =index"
                      [indexOfAppareil]="i"
                      [appareilName]="appareil.name"
                      [appareilStatus]="appareil.status"
                      [id]="appareil.id">

        </app-appareil>
      </ul>
      <br>
      <button class="btn btn-success "
              [disabled]="!isAuth"
              (click)="onAllumer()">
        Tout Allumer
      </button>

      <button class="btn btn-danger " (click)="onEteindre()">Tout éteindre</button>
    </div>

  </div>

